<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./crypto-js.js"></script>
	<style>
		.box{
			background: #cecece;
			
		}
		.item{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #000;
			margin: 2px 4px;
		}
		.itemBlock{
			padding: 5px 10px;
			border: 1px solid #000;
			margin: 2px 4px;
		}
		.btn{
			background: #cecece;
			border: 1px solid #000;
			cursor: pointer;
		}
	</style>
</head>
<body>
    <div id="app">
		<div class="box">
			<!-- <div class="item" v-for="(item,index) in testData" :key="index">
				{{item}}
			</div>
			<div class="itemBlock" v-for="(item,index) in testData" :key="index">
				{{item}}
			</div> -->
			<div class="btn" @click="add">點擊加密</div>
			<div class="btn" @click="reduce">點擊解密</div>
		</div>
    </div>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data(){
				return{
					testData:[1],
					indexData:1,
				}
                
            },
            computed:{
                msg(){
                    // console.log("msg==");
                    // return '789456';
                    
                }
            },
            methods:{
                add:function(){
					// this.indexData++;
					// this.testData.push(this.indexData)
					/**
					 * 加密（需要先加载lib/aes/aes.min.js文件）
					 * @param word
					 * @returns {*}
					 */
					// var word={'user':1};//hangzhoutiangekeji9158miaobolive
					function encrypt(word){
					    var key = CryptoJS.enc.Utf8.parse("hangzhoutiangekeji9158miaobolive");
					    var srcs = CryptoJS.enc.Utf8.parse(word);
					    var encrypted = CryptoJS.AES.encrypt(srcs, key, {mode:CryptoJS.mode.ECB,padding: CryptoJS.pad.Pkcs7});
					    return encrypted.toString();
					}
					console.log(encrypt("{'user':1}"))
					var array =encrypt("{'user':1}");
					var xhr = new XMLHttpRequest;
					xhr.open("POST",'http://60.191.222.11:8044/account/test', false);
					xhr.send(array);
				},
				reduce:function(){
					/**
					 * 解密
					 * @param word
					 * @returns {*}
					 */
					function decrypt(word){
					    var key = CryptoJS.enc.Utf8.parse("hangzhoutiangekeji9158miaobolive");
					    var decrypt = CryptoJS.AES.decrypt(word, key, {mode:CryptoJS.mode.ECB,padding: CryptoJS.pad.Pkcs7});
					    return CryptoJS.enc.Utf8.stringify(decrypt).toString();
					}
					console.log(decrypt('JP8A9pXQvSAe/+QnRmwCnc/ZiKdeYcYr1hTXQR1cuGDoioHcTqCzPCi5ODnTeXE9Q9I3E//D8DCTLRYi+A9J0Q=='))
				}	
            },
            beforeMount(){
                // console.log("挂载前生命周期");
            },
            mounted(){
                // console.log("挂载完成生命周期");
            },
            watch:{
                'message'(){
                    // console.log("监视器调用");
                }
            }
        })
    </script>
</body>
</html>
