<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<style>
		.box{
			background: #cecece;
			
		}
		.item{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #000;
			margin: 2px 4px;
		}
		.itemBlock{
			padding: 5px 10px;
			border: 1px solid #000;
			margin: 2px 4px;
		}
		.btn{
			background: #cecece;
			border: 1px solid #000;
			cursor: pointer;
		}
	</style>
</head>
<body>
    <div id="app">
		<div class="box">
			<div class="item" v-for="(item,index) in testData" :key="index">
				{{item}}
			</div>
			<div class="itemBlock" v-for="(item,index) in testData" :key="index">
				{{item}}
			</div>
			<div class="btn" @click="add">點擊添加</div>
			<div class="btn" @click="add1()">點擊添加</div>
			<div class="btn" @click.once="add1(10,$event)">點擊添加</div>
			{{counter}}
			<ul>
				<template v-for="book in filterbooks">
					<li>{{book.name}}</li>
					<li>{{book.author}}</li>
				</template>
				
			</ul>
		</div>
    </div>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data(){
				return{
					testData:[4,1,2,3],
					indexData:1,
					books:[
					{name:'Vue 实践',author:'111'},{name:'javascript 实践1',author:'222'},{name:'javascript 实践2',author:'333'}
					],
					counter:0,
				}
                
            },
            computed:{
                msg(){
                    console.log("msg==");
                    return '789456';
                },
                filterbooks:function(){
                	return this.books.filter(
                			function(book){
                				return book.name.match(/javascript/);
                			}
                		)
                }
            },
            methods:{
                add:function(){
					// this.indexData++;
					// this.testData.push(this.indexData)
					// console.log(this.testData.push(this.indexData))

					// this.testData.pop()
					// console.log(this.testData.pop())
					// console.log(this.testData)
					// 
					// this.indexData++;
					// console.log(this.testData.unshift(this.indexData))
					// console.log(this.testData)
					// 
					// this.indexData++;
					// console.log(this.testData.splice(0,1,6))
					// console.log(this.testData)

					// console.log(this.testData.sort(function(a,b){return b-a}))
					// console.log(this.testData)

					// console.log(this.testData.reverse())
					// console.log(this.testData)
					// console.log(this.books)
					// this.books[3]={name:"javascript 444",author:"777"}
					// console.log(app)
					// Vue.set(this.books,3,{name:"javascript 444",author:"777"})
					// this.$set(this.books,3,{name:"javascript 444",author:"777"})

				},
				add1:function(count,event){
					count = count||1;
					this.counter +=count;
					console.log(event)
				}
            },
            beforeMount(){
                console.log("挂载前生命周期");
            },
            mounted(){
                console.log("挂载完成生命周期");
            },
            watch:{
                'message'(){
                    console.log("监视器调用");
                }
            }
        })
    </script>
</body>
</html>
